/******************
Created by Chris.
*******************/


h4.custom {
	margin-top: 20px;
	clear: both;
}

h4.blue {
	color: #55a3d1;
	margin-top: 20px;
	padding-top: 0px;
}

div.h4_blue {
	float: left;
	position: relative;
}

div.blue_line {
	float: left;
	margin-top: 20px;
	position: relative;
	border-top: 2px solid #55a3d1;
	width: 60%;
	display: none;
}

p.label_checkbox_pair {
/*	clear: both; */
	float: left;
	position: relative;
	height: 30px;
}

p.label_checkbox_pair input {
/*	left: 5px; */
	position: absolute;
/*	top: 1px; */
}

/* 
label.floatleft {
	float: left;
	display: block;
	margin-left: 20px;
	width: 200px;
}
 */
 
p.label_checkbox_pair label {
	display: block;
	margin-left: 20px;
	width: 194px;
}

.spacer, .cb {
	clear: both;
}

p.help-block {
	padding-bottom: 20px;
	font-weight: bold;
}

select.span5 {
	width: 376px;
	margin-left: -1px !important;
}

.form-horizontal .form-actions {
	padding-left: 20px;
}

.form-actions .btn {
	margin-left: 180px;
}

#multilang_selector li {
	display: inline-block;
	padding: 2px;
}

#multilang_selector img {
	width: 20px;
	height: 15px;
}

.multifield {
	display:none;
}

#content h1 {
	color: black;
	border-bottom: 1px solid #6C0;
	font-size: 1.5em;
	margin-top: 0.1em;
	margin-bottom: 1.5em;
	font-weight: bold;
	font-style: italic;
	font-family: arial, helvetica, sans-serif;
}

fieldset {
	border: 1px dashed #6C0;
	padding: 10px;
	margin-bottom: 1em;
	text-align: left;
}

legend {
	width: auto;
	font-weight: bold;
	background-color: white;
	padding: 4px;
	color: #006;
	border: 0px;
	border-bottom: 0px;
	line-height: 0px;
}

fieldset fieldset {
	border: 1px dashed #C7F39E;
	text-align: inherit;
}

.comments {
	margin: 0 4px;
	background-color: transparent;
	color: #0054A6;
	font-size: 0.8em;
	text-align: center;
}

.width100 {
	width: 100px;
}

.width50 {
	width: 50px;
}

#center {
	float: left;
}
#righter {
	float: right;
}

.fullwidth {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}

.supplier_details div.tap_area {
	border: 1px solid #d6d6d6;
	float: left;
	position: relative;
	padding: 5px 5px;
	clear: both;
	min-width: 150px;
	text-align: center;
	background-color: #fafafa;
	font-weight: 700;
}

.supplier_details div.button_area {
	float: right;
	position: relative;
	display: none;
}

.supplier_details div.calendar_nav_area {
	float: right;
	position: relative;
	margin-left: 20px;
}

.supplier_details div.details_area {
	width: 985px;
	float: left;
	position: relative;
	margin-top: -1px;
	margin-bottom: 20px;
}

th.dateHeading {
	background-color: #2d7ebd;
	font-weight: lighter;
	text-align: center;
	color: #fff;
	border: 1px solid #d6d6d6;
	line-height: 1em;
}

th.weekends {
	background-color: #59a1d3;
	font-weight: lighter;
	text-align: center;
	color: #fff;
	border: 1px solid #d6d6d6;
}

th.dateHeading span {
	font-size: 1em;
	font-weight: lighter;
	text-align: center;
}

td.inactive {
	font-size: 1em;
	font-weight: lighter;
	text-align: center;
	background-color: #eaeaea;
	border: 1px solid #d3d3d3;
}

td.white {
	font-size: 1em;
	font-weight: lighter;
	text-align: center;
	border: 1px solid #d6d6d6;
}

td.green {
	font-size: 1em;
	font-weight: lighter;
	text-align: center;
	background-color: #eef8d5;
	border: 1px solid #d6d6d6;
}

td.tipcolumn {
	font-size: 0.8em;
	font-weight: normal;
	text-align: center;
	background-color: #fff;
	border: 1px solid #d6d6d6;
	line-height: 1em;
}

a.month_navi {
	margin-left: 5px;
	margin-right: 5px;
}

.selected_month {
	background-color: #2c7cb7;
	color: white;
}

.button {
	float: left;
	position: relative;
	margin-right: 20px;
	margin-bottom: 20px;
}

.details_area tbody tr {
	height: 30px;
}

.details_area tbody td {
	width: 30px;
	padding-left: 0px;
	padding-right: 0px;
}

#add_new_room {
	background-image: url(../images/btn_add_new_room.jpg);
	width: 133px;
	height: 30px;
}

#add_image {
	background-image: url(../images/btn_add_image.jpg);
	width: 105px;
	height: 32px;
}

#btn_blank {
	background-image: url(../images/btn_blank_image.jpg);
	width: 133px;
	height: 30px;
}

.imagelist img {
	margin-right: 10px;
}

.imagelist {
	margin-top: -20px;
	margin-bottom: 20px;
}
