img {
	border: none;
}

a {
 	cursor: pointer;
 	text-decoration: none;
}

body {
	color: #5b5b5b;
	font-size: 12px;
	font-family: 'Helvetica', 'Arial', sans-serif;
	background: url('../images/front/background.png') repeat-x left top;
}

/* layout */
#wrapper { position: relative; width: 1050px; margin: 0 auto; }
	#site_header { height: 392px; }
	#content { width: 100%; min-height: 300px; margin: 20px 0; }
		#left_columns { width: 360px; }
		#right_columns { width: 570px; margin-left: 41px; }
		#left_columns,
		#right_columns { display: inline-block; *display: inline; zoom: 1; vertical-align:top; }
	#site_footer { padding: 5px 0; background: #8d8d8d; text-align: center; color: #fff; }

/* site header */
#site_header .separator { height: 226px; }
#site_header #logo { position: absolute; z-index: 100px; left: 10px; }

/* header controls */
#header_controls { position: absolute; z-index: 200px; right: 0px; top: 22px; width: 125px; }
#header_controls h4 { color: #488fc8; font-size: 16px; font-weight: bold; margin: 0; }
#header_controls select { margin-top: 5px; width: 110px; }
#header_controls .sns { text-align: center; }
#header_controls .sns a { margin: 2px; }
#header_controls .partner_login { margin-top: 4px; }

/* navigation */
#navigation { width: 100%; margin-top: 22px; }
#navigation li { float: left; display: inline; width: 160px; height: 120px; }
#navigation li + li { margin-left: 40px; }
#navigation li a { float: left; width: 160px; height: 120px; background: url('../images/front/global_navigation_menu_bg.gif') no-repeat; color: #fff; font-size: 14px; text-decoration: none; text-transform: uppercase; }
#navigation li.current a,
#navigation li a:hover { color: #7ca50e; }
#navigation li a span { float: left; width: 100%; text-align: center; line-height: 18px; }

#navigation li a.menu1 span { margin: 88px 0 0 0; }
#navigation li a.menu1 { background-position: 0px 0px; }
#navigation li.current a.menu1,
#navigation li a.menu1:hover { background-position: -160px 0px; }

#navigation li a.menu2 span { margin: 75px 0 0 0; }
#navigation li a.menu2 { background-position: 0px -122px; }
#navigation li.current a.menu2,
#navigation li a.menu2:hover { background-position: -160px -122px; }

#navigation li a.menu3 span { margin: 75px 0 0 0; }
#navigation li a.menu3 { background-position: 0px -244px; }
#navigation li.current a.menu3,
#navigation li a.menu3:hover { background-position: -160px -244px; }

#navigation li a.menu4 span { margin: 88px 0 0 0; }
#navigation li a.menu4 { background-position: 0px -366px; }
#navigation li.current a.menu4,
#navigation li a.menu4:hover { background-position: -160px -366px; }

#navigation li a.menu5 span { margin: 88px 0 0 0; }
#navigation li a.menu5 { background-position: 0px -488px; }
#navigation li.current a.menu5,
#navigation li a.menu5:hover { background-position: -160px -488px; }

/* search form from index */
#search_form { display: block; padding: 0 0 0 24px; height: 70px; background: url(../images/front/search_text_bg.gif) no-repeat 33px 8px #488fc8; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; }
#search_form #search_text { float: left; width: 270px; height: 26px; padding: 0 0 0 7px; margin-top: 32px; background: #fff; color: #5d5d5d; border: 1px solid #d4d4d4; font-size: 11px; border-radius: 3px 0 0 3px; -webkit-border-radius: 3px 0 0 3px; -moz-border-radius: 3px 0 0 3px; -o-border-radius: 3px 0 0 3px; -ms-border-radius: 3px 0 0 3px; }
#search_form .search_submit_btn { float: left; margin-top: 32px; }

/* find accommodation */
#find_accommodation_index .row { margin: 0 0 15px 0; }
#find_accommodation_index .row.center { text-align: center; }
#find_accommodation_index select { cursor: pointer; }
#find_accommodation_index { display: block; height: 220px; margin: 8px 0 0 0; padding: 57px 22px 0 22px; background: url(../images/front/find_accommodation_text.gif) no-repeat 31px 25px #f8980f; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius: 5px; -ms-border-radius: 5px; }
#find_accommodation_index input[type=submit] { width: 247px; height: 35px; color: #fff; font-size: 16px; font-weight: bold; background: url(../images/front/accommodation_button.png) repeat-x left top; border: none; font-family: 'Helvetica'; }
#find_accommodation_index input[type=submit]:hover { background: url(../images/front/accommodation_button_hover.png) repeat-x left top;  }
#find_accommodation_index .date_input { background: url(../images/front/calendar_icon.png) no-repeat 96% 50% #fff;  }
#find_accommodation_index .rating label { color: #fff; font-size: 16px; text-transform: uppercase; font-weight: bold; }
#find_accommodation_index .hyphen { color: #fff; font-size: 16px; font-weight: bold; padding: 0 9px; }

/* special_products */
#special_products { display: block; }
#special_products h1 { font-size: 20px; padding: 8px 0 15px 10px; color: #5d5d5d !important; text-transform: uppercase; font-style: normal !important; font-weight: normal !important; border: none !important; margin: 0 !important; }
#special_products h1 span { color: #f8980f; }

#special_products .special_product_list { border-top: 4px solid #96c027; }
#special_products .special_product_list div.item { position: relative; float: left; width: 100%; height: 113px; border-bottom: 1px solid #d8dadb; background: url(../images/front/special_product_list_bg.png) repeat-x left top; color: #5d5d5d; cursor: pointer; }
#special_products .special_product_list div.item:hover { background: #fff; }
#special_products .special_product_list div.item .decoration { position: absolute; width: 35px; height: 28px; background: url(../images/front/special_list_decoration.png) no-repeat left top; top: 0; right: 0; }
#special_products .special_product_list div.item p { margin: 0 !important; }
#special_products .special_product_list div.item .detail { float: right; width: 382px; }

#special_products .special_product_list div.item .detail header { float: left; width: 97%; border-bottom: 1px solid #d8dadb; }
#special_products .special_product_list div.item .detail header .name { margin: 9px 0 0 10px; font-size: 14px; font-weight: 600; color: #5d5d5d; }
#special_products .special_product_list div.item .detail header .location { float: left; display: inline-block; vertical-align: top; margin: 0 0 0 10px; color: #5d5d5d; }
#special_products .special_product_list div.item .detail header .displayed_right { margin-right: 10px; }
#special_products .special_product_list div.item .detail header .price { color: #7ca310; font-size: 16px; font-weight: bold; }
#special_products .special_product_list div.item .detail p { float: left; text-align: justify; line-height: 16px; padding: 5px 14px 0 10px; color: #5d5d5d; }

.price a {
	color: #7ca310;
}

.weekend {font-size: 14px; font-weight: bold; text-align: center !important; }
.weekday {font-size: 14px; font-weight: bold; text-align: center !important; }

#site_footer a { color: #fff !important; text-decoration: underline; }
#site_footer a:hover { color: #fff; text-decoration: none; }

/* accommodation_list */
#accommodation_list { margin-top: 30px; }
#accommodation_list table { width: 100%; }
#accommodation_list table .date { } /* table tr.date */
#accommodation_list table .date th { text-align: center; position: relative; }
#accommodation_list table .date b { display: block; } /* .date b : Day */
#accommodation_list table .date span { display: block; } /* .date span : Month */
#accommodation_list table .date .next,
#accommodation_list table .date .prev { position: absolute; }

#accommodation_list table .date .next,
#accommodation_list table .date .prev { top: 28px; width: 22px; height: 22px; text-indent: -9999px; }

#accommodation_list table .date .next { right: -13px; background: url('../images/front/arrow_right.png') no-repeat left top; }
#accommodation_list table .date .prev { left: -13px; background: url('../images/front/arrow_left.png') no-repeat left top; }

#accommodation_list thead th { background: #49a3ca; color: #fff; }
#accommodation_list thead th.weekend { background: #3f90b3; }
#accommodation_list thead th b { font-size: 20px; }

/* Advanced search for Accommodation list */
#advanced_search { }
#advanced_search input[type=text]:focus {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	-ms-box-shadow: none;
}

#advanced_search .control-group {
	background: #81b6cf;
	margin: 0 !important;
	padding: 10px 0;
	color: #fff;
}

#advanced_search .control-group.odd {
	background: #a2c1cf;
}

#advanced_search label.control-label {
	padding-left: 20px;
}

#advanced_search input[type=text],
#advanced_search input[type=submit],
#advanced_search select {
	height: 20px !important;
	padding: 0 !important;
}

/****************** Car Rental *****************/
#car_rental{width:100%;}
#side{display:inline-block;vertical-align:top;zoom:1;*display:inline;width:185px}
.main_area {display:inline-block;vertical-align:top;zoom:1;*display:inline;width:780px;margin-left:10px}

#product_list .navigation{border-bottom: 1px solid #7ca310;padding:0;margin:0;float:left;width:100%;margin-bottom:10px}
#product_list .navigation li {float:left;display:inline;list-style:none}
#product_list .navigation li a {float:left;padding:6px 20px;margin-right:5px;color:#454545;background:#f7f7f7;border-style:solid;border-color:#d6d6d6;border-width:1px 1px 0 1px;border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-o-border-radius:3px 3px 0 0;-ms-border-radius:3px 3px 0 0}

#product_list .navigation li.active a,
#product_list .navigation li a:hover {text-decoration:none;background:#7ca310;color:#fff;border-color:#769b11;font-weight:600}

#product_list table {margin-top:15px;border-top:none;border-collapse:collapse}
#product_list table thead td {padding:0;text-align:center;vertical-align:middle;border-top:1px solid #ddd;line-height:32px}
#product_list table th {text-align:center}
#product_list table thead th {background:#edf4cf;border:1px solid #8eac12;color:#85a112;padding:5px 0}
#product_list table tbody th {border:1px solid #408bb0;color:#408bb0;padding:10px 0}

/***************** Car Rental > Side > Left Select Country ********************/
#left_select_country {display:block;border:1px solid #e5e5e5}
#left_select_country div {display:block;padding:10px}
#left_select_country .seperate {background:#f8f8f9;border-bottom:1px solid #e5e5e5}
#left_select_country ul {margin:0;padding:0}
#left_select_country ul.list li {list-style:none;padding:5px 0;border-bottom:1px solid #e5e5e5}
#left_select_country ul.list li:last-child {border-bottom:none}
#left_select_country ul.list li a {margin-left:7px}

/************************* Hotel View Page ******************************/
#viewhotel {widtgh:100%}

/* Viewhotel > Hotel information */
#viewhotel .hotel{ position: relative;}
#viewhotel .hotel .hotel-name{display:inline;font-size:24px;color:#666;border:none;font-style:normal;font-family:'Open Sans',sans-serif}
#viewhotel .hotel .hotel-rating{position:absolute;display:inline;font-size:16px;margin:0 0 0 10px;padding:0 4px;background:#7ca310;color:#fff;font-weight:bold;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
}

/* Room List */
#roomlist {margin-top:10px}
#roomlist .room {display:block;padding:10px 13px;margin:10px 0 0 0;border:1px solid #e9e9e9}
#roomlist .room:hover {border-color:#acbac2}
#roomlist .room .room-name {margin:0;border:none;color:#9eba4f;font-family:inherit;font-weight:normal;font-style:normal;font-size:16px}
#roomlist .room-images {display:block;padding:8px;margin-top:10px;border-style:solid;border-color:#eee;border-width:1px 0}
#roomlist .room-images a {margin-right:7px}
#roomlist .room-info {display:block;margin-top:10px}
#roomlist .room-info .room-address {font-style:italic;font-size:18px;color:#666}
#roomlist .room-info .room-property {display:block;height:50px;margin:0;padding:0}
#roomlist .room-info .room-property li {display:inline;float:left;list-style:none;margin:0;padding:0 15px;border-right:1px solid #ccc}
#roomlist .room-info .room-property .property-name {margin:0;padding:0;font-size:12px;font-weight:bold;color:#52788c}
#roomlist .room-info .room-property .property-value {}

/* Room Details */
#room-details {}
#room-details .room-names {} /* Name */
#room-details .room-names .hotel-name {display:inline-block;border:none;font-style:normal;padding:0;margin:0;font-weight:normal;color:#6e8f12}
#room-details .room-names .room-name {display:inline-block;padding:0;margin:0 0 0 15px;font-weight:normal;color:#6c6c6c}

#room-details .room-info {display:block} /* Room Information */

#room-details .room-info .left-columns {display:inline-block;vertical-align:top;zoom:1;*display:inline;width:25%}
#room-details .room-info .left-columns .main-image {display:block;margin-top:10px}
#room-details .room-info .left-columns .order-form {display:block}
#room-details .room-info .left-columns .order-form .rating {float:left}
#room-details .room-info .left-columns .order-form .rating img {margin:1px}
#room-details .room-info .left-columns .order-form .price {float:right;font-size:28px;font-weight:bold;line-height:26px}

#room-details .room-info .left-columns .btn-container {float:left;width:100%;margin-top:10px}

#room-details .room-info .right-columns {display:inline-block;vertical-align:top;zoom:1;*display:inline;width:70%;margin-left:3%}
#room-details .room-info .right-columns .room-images {padding:0 0 10px 0;margin:5px 0;border-style:solid;border-color:#eee;border-width:1px 0} /* Images */
#room-details .room-info .right-columns .room-images a {display:inline-block;margin:10px 6px 0 6px;border:1px solid #c0c0c0}
#room-details .room-info .right-columns .room-images a:hover {border:1px solid #37a7ca}
#room-details .room-info .right-columns .room-images a img {vertical-align:top}
#room-details .room-info .right-columns .greeting {display:block;min-height:100px;padding:0 10px}
#room-details .room-info .right-columns h1 {border:none;padding:0;margin:0;font-style:normal;font-weight:normal}

#room-details .room-info .right-columns .facilities,
#room-details .room-info .right-columns .bedding {display:inline-block;vertical-align:top;zoom:1;*display:inline;width:45%;margin-top:20px;padding:5px;border-style:solid;border-width:3px 0 0 0}

#room-details .room-info .right-columns .facilities h1,
#room-details .room-info .right-columns .bedding h1 {margin:2px 0 8px 0;font-size:18px}

#room-details .room-info .right-columns .facilities h1 {color:#6b94c2}
#room-details .room-info .right-columns .bedding h1 {color:#f08e1b}

#room-details .room-info .right-columns .facilities {border-color:#6b94c2}
#room-details .room-info .right-columns .facilities ul {margin:0;padding:0}
#room-details .room-info .right-columns .facilities ul li {float:left;display:inline;color:#567ca7;margin:0;padding:5px 0 5px 20px;width:145px;background:url('../images/front/check.png') no-repeat left 7px}
#room-details .room-info .right-columns .bedding {margin-left:3%;border-color:#f08e1b}

.supplier-images a {margin: 0 10px 0 0;}




h1.section {
	position: relative;
	padding: 0 0 .3em;
	overflow: hidden;
	font-size: 2.5em;
	font-family: Arial,Verdana,Sans-Serif;
	font-style: normal;
	margin-top: 5px;
}

h2 {
	display: block;
	font-size: 1.5em;
	-webkit-margin-before: 0.83em;
	-webkit-margin-after: 0.83em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}

h1.section, h2.section, h3.section {
	font-family: "Gill Sans MT","Gill Sans",Arial,Verdana,Sans-Serif;
	color: black;
	font-size: 1.5em;
	margin: 0;
	font-weight: bold;
}

#hotel_table {font-size:13px;}

#supplier_address .map {float:left;margin-right:10px;}
#supplier_address .map img {width: 70px;}

#supplier_address .address {font-size: 15px;}

#hotel_table .room_title {font-size: 14px; font-weight:bold;}


#hotel_table .room_table {padding:20px 0;}
#hotel_table .room_main {float: left; width: 650px;}
#hotel_table .room_option {float:right; width: 350px;}

#hotel_table .bedding_item {float:left; margin-top:10px; margin-right:10px; width: 150px; text-align:center; height: 100px; background:#D0E3F1;}

#hotel_table .facilities ul li {float:left; font-size:1em; display:inline;color:#567ca7;margin:0;padding:5px 0 5px 20px;width:130px;background:url('../images/front/check.png') no-repeat left 7px}
