/******************
Created by Chris.
*******************/


h4.custom {
	margin-top: 20px;
	clear: both;
}

p.label_checkbox_pair {
/*	clear: both; */
	float: left;
	position: relative;
	height: 30px;
}

p.label_checkbox_pair input {
/*	left: 5px; */
	position: absolute;
/*	top: 1px; */
}

/* 
label.floatleft {
	float: left;
	display: block;
	margin-left: 20px;
	width: 200px;
}
 */
 
p.label_checkbox_pair label {
	display: block;
	margin-left: 20px;
	width: 194px;
}

.spacer, .cb {
	clear: both;
}

p.help-block {
	padding-bottom: 20px;
	font-weight: bold;
}

select.span5 {
	width: 376px;
	margin-left: -1px !important;
}

.form-horizontal .form-actions {
	padding-left: 20px;
}

.form-actions .btn {
	margin-left: 180px;
}

#multilang_selector li {
	display: inline-block;
	padding: 2px;
}

#multilang_selector img {
	width: 20px;
	height: 15px;
}

.multifield {
	display:none;
}

#content h1 {
	color: black;
	border-bottom: 1px solid #6C0;
	font-size: 1.5em;
	margin-top: 0.1em;
	margin-bottom: 1.5em;
	font-weight: bold;
	font-style: italic;
	font-family: arial, helvetica, sans-serif;
}

fieldset {
	border: 1px dashed #6C0;
	padding: 10px;
	margin-bottom: 1em;
	text-align: left;
}

legend {
	width: auto;
	font-weight: bold;
	background-color: white;
	padding: 4px;
	color: #006;
	border: 0px;
	border-bottom: 0px;
	line-height: 0px;
}

fieldset fieldset {
	border: 1px dashed #C7F39E;
	text-align: inherit;
}

.comments {
	margin: 0 4px;
	background-color: transparent;
	color: #0054A6;
	font-size: 0.8em;
	text-align: center;
}

.width100 {
	width: 100px;
}

.width50 {
	width: 50px;
}

#center {
	float: left;
}
#righter {
	float: right;
}

/* Defines icon sets */
.sns_icon {
	display: inline-block;
	width: 29px;
	height: 29px;
	text-indent: -9999em;
	background: url(../images/front/sns_icon.png) no-repeat;
}

.sns_icon.facebook {
	background-position: 0px 0px;
}

.sns_icon.twitter {
	background-position: 0px -31px;
}

.sns_icon.googleplus {
	background-position: 0px -62px;
}

.sns_icon.youtube {
	background-position: 0px -92px;
}

/* Define selecting country icon sets */
.select_country_icon {
	width: 27px;
	height: 32px;
	text-intent: -9999em;
	background: url(../images/selecting_country_arrow_iconset.png) no-repeat;
}

.select_country_icon .left_icon {
	background-position: 33px 0px;
}

.select_country_icon .left_icon:hover {
	background-position: 33px 38px;
}

.select_country_icon .left_icon:active {
	background-position: 33px 76px;
}

.select_country_icon .right_icon {
	background-position: 0px 0px;
}

.select_country_icon .right_icon:hover {
	background-position: 0px 38px;
}

.select_country_icon .right_icon:active {
	background-position: 9px 76px;
}

.list-selected { background: blue; color: white;}

#find_accommodation .country {float:left}
#find_accommodation .destination {float:left}

.select_btn_group {display:block;position:relative}
.select_btn_group .select_btn {position:relative;display:block;padding:0 10px;font-size:12px;height:28px;line-height:28px;border:1px solid #d4d4d4;background:url('../images/front/control_box_bg.gif') repeat-x left top;color:#454545;border-radius:2px;-webkit-border-radius:2px;-moz-border-radius:2px;-o-border-radius:2px;-ms-border-radius:2px}
.select_btn_group .select_btn:hover {background:#f7f7f7;text-decoration:none}
.select_btn_group .select_btn .caret {position:absolute;right: 0;top: 0;height:28px;padding: 0 15px;background:url('../images/front/control_box_arrow_down.png') no-repeat 50% 50%;border: none;border-left: 1px solid #d4d4d4}
.select_btn_group ul {display:none;position:absolute;background:#fff;border:1px solid #eee;width: 200px;height:210px;overflow-x:hidden;overflow-y:scroll}
.select_btn_group ul li:first-child {margin-top:5px}
.select_btn_group ul li {list-style:none;padding:0 2px 0 5px;margin-top:1px}
.select_btn_group ul li a {float:left;width:95%;padding:3px 0 3px 5%;color:#454545;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;-o-border-radius:3px;-ms-border-radius:3px}
.select_btn_group ul li a:hover {text-decoration:none;background:#6ab9e6;color:#fff}

.left_arrow,
.right_arrow {width:27px;height:32px;text-indent:-9999px;background:url('../images/front/selecting_country_arrow_iconset.png');margin:0;padding:0}

.left_arrow {float:left;background-position:-33px 0;border-right:1px solid #ddd}
.left_arrow:hover {background-position:-33px -38px}
.left_arrow:active {background-position:-33px -76px}

.right_arrow {float:right;background-position:0 0;border-left:1px solid #ddd}
.right_arrow:hover {background-position:0px -38px}
.right_arrow:active {background-position:0px -76px}