/******************
Created by Chris.
*******************/


h4.custom {
	margin-top: 20px;
	clear: both;
}

p.label_checkbox_pair {
/*	clear: both; */
	float: left;
	position: relative;
	height: 30px;
}

p.label_checkbox_pair input {
/*	left: 5px; */
	position: absolute;
/*	top: 1px; */
}

/* 
label.floatleft {
	float: left;
	display: block;
	margin-left: 20px;
	width: 200px;
}
 */
 
p.label_checkbox_pair label {
	display: block;
	margin-left: 20px;
	width: 194px;
}

.spacer, .cb {
	clear: both;
}

p.help-block {
	padding-bottom: 20px;
	font-weight: bold;
}

select.span5 {
	width: 376px;
	margin-left: -1px !important;
}

.form-horizontal .form-actions {
	padding-left: 20px;
}

.form-actions .btn {
	margin-left: 180px;
}

#multilang_selector li {
	display: inline-block;
	padding: 2px;
}

#multilang_selector img {
	width: 20px;
	height: 15px;
}

.multifield {
	display:none;
}

#content h1 {
	color: black;
	border-bottom: 1px solid #6C0;
	font-size: 1.5em;
	margin-top: 0.1em;
	margin-bottom: 1.5em;
	font-weight: bold;
	font-style: italic;
	font-family: arial, helvetica, sans-serif;
}

fieldset {
	border: 1px dashed #6C0;
	padding: 10px;
	margin-bottom: 1em;
	text-align: left;
}

legend {
	width: auto;
	font-weight: bold;
	background-color: white;
	padding: 4px;
	color: #006;
	border: 0px;
	border-bottom: 0px;
	line-height: 0px;
}

fieldset fieldset {
	border: 1px dashed #C7F39E;
	text-align: inherit;
}

.comments {
	margin: 0 4px;
	background-color: transparent;
	color: #0054A6;
	font-size: 0.8em;
	text-align: center;
}

.width100 {
	width: 100px;
}

.width50 {
	width: 50px;
}

#center {
	float: left;
}
#righter {
	float: right;
}

/* Defines icon sets */
.sns_icon {
	display: inline-block;
	width: 29px;
	height: 29px;
	text-indent: -9999em;
	background: url(../images/front/sns_icon.png) no-repeat;
}

.sns_icon.facebook {
	background-position: 0px 0px;
}

.sns_icon.twitter {
	background-position: 0px -31px;
}

.sns_icon.googleplus {
	background-position: 0px -62px;
}

.sns_icon.youtube {
	background-position: 0px -92px;
}

/* Define selecting country icon sets */
.select_country_icon {
	width: 27px;
	height: 32px;
	text-intent: -9999em;
	background: url(../images/selecting_country_arrow_iconset.png) no-repeat;
}

.select_country_icon .left_icon {
	background-position: 33px 0px;
}

.select_country_icon .left_icon:hover {
	background-position: 33px 38px;
}

.select_country_icon .left_icon:active {
	background-position: 33px 76px;
}

.select_country_icon .right_icon {
	background-position: 0px 0px;
}

.select_country_icon .right_icon:hover {
	background-position: 0px 38px;
}

.select_country_icon .right_icon:active {
	background-position: 9px 76px;
}

.list-selected { background: blue; color: white;}

#find_accommodation .country {float: left; }
#find_accommodation .destination {float: left; }